<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <head th:fragment="js">
        <script
                src="http://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous">

        </script>
    </head>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #62433e">
    <a class="navbar-brand font- font-weight-bold text-white" href="/">BOBAXIXIXI</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link text-white" th:classappend="${#httpServletRequest.getRequestURI() == '/store' ? 'font-weight-bold':''}" th:href="@{/store}">
                Store <span class="sr-only">(Current)</span>
            </a>
            <a class="nav-item nav-link text-white" th:classappend="${#httpServletRequest.getRequestURI() == '/boba' ? 'font-weight-bold':''}" th:href="@{/boba}">
                Boba Tea <span class="sr-only">(Current)</span>
            </a>
            <a class="nav-item nav-link text-white" th:classappend="${#httpServletRequest.getRequestURI() == '/search' ? 'font-weight-bold':''}" th:href="@{/search}">
                Search <span class="sr-only">(Current)</span>
            </a>
            <a class="nav-item nav-link text-white" th:classappend="${#httpServletRequest.getRequestURI() == '/filter' ? 'font-weight-bold':''}" th:href="@{/filter}">
                Filter <span class="sr-only">(Current)</span>
            </a>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/searchKey}" method="GET">
            <input required class="form-control mr-sm-2" type="search"
                   name="keyword" placeholder="Keyword" aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<footer th:fragment="footer" class="footer">
    <div class="jumbotron">
        <h3>Website dibuat oleh Adimas</h3>
        <p th:text="'Halaman diakses pada ' + ${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm:ss')}"></p>
    </div>
</footer>
</body>
</html>