<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter Manager</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>


<body style="background-color: #ffedd9">
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<div class="container rounded-lg bg-white">
    <br>
    <h2 class="text-center font-weight-bold">Filter Manager</h2>
    <br>
    <div class="col">
        <form th:action="@{/filter}" th:object="${bobaTemp}" method="GET">
            Boba Name : <br>
            <select th:name="${nameBoba}" th:id="${namaBoba}" class="form-control">
                <option th:each="boba : ${listBoba}" th:value="${boba.name}" th:text="${boba.name}"></option>
            </select>
            <br><br>

            <button class="btn btn-warning" name="form" type="submit">Search</button>
        </form>
        <br>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="manager, iterationStatus : ${filterResult}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${manager.fullName}"></td>
                <td th:if="${manager.gender} == 0">Female</td>
                <td th:if="${manager.gender} == 1">Male</td>
                <td th:text="${#temporals.format(manager.dateOfBirth, 'EEE, dd MMMM yyyy')}"></td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
</body>
</html>