<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pesan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>


<body style="background-color: #ffedd9">
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center font-weight-bold" th:text="${message}"></h2>
                <br>
                <a class="text-center text-warning" href="/store"><-- Back to store list</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>